@import "--variables";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../node_modules/vazirmatn/misc/Farsi-Digits/Vazirmatn-FD-font-face.css";
@import "../../node_modules/swiper/swiper-bundle.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Vazirmatn FD, serif;
}

html {
  width: 100%;
  height: 100%;
  background: #1c1a24;
  background-size: 100% auto;
  color: #bfb9d7;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.swiper {
  overflow: visible;
}

@import "nav";
@import "main_slider";
@import "product_cart";
@import "footer";