.main_slider {
  margin: 0 auto;
  padding: 100px 200px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $web_blue;
  overflow: hidden;

  video {
    z-index: 70;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video_slide {
    display: flex;
    position: absolute;
    z-index: 80;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    clip-path: circle(0% at 0 50%);

    &:before {
      content: "";
      z-index: 82;
      position: absolute;
      background-color: rgba($web_blue, .2);
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }

    .content {
      position: relative;
      z-index: 999;
      color: $web_white;
      width: 70%;
      margin: 0 auto;

      button {
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;

        a {
          color: $web_white;
          text-decoration: none;
        }
      }

      .box {
        width: 140px;
        height: auto;
        float: left;
        transition: .5s linear;
        position: relative;
        display: block;
        overflow: hidden;
        padding: 15px;
        text-align: center;
        margin: 0 5px;
        background: transparent;
        text-transform: uppercase;
        font-weight: 900;

        &:before {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          height: 4px;
          width: 100%;
          border-bottom: 4px solid transparent;
          border-left: 4px solid transparent;
          box-sizing: border-box;
          transform: translateX(100%);
        }

        &:after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 4px;
          border-top: 4px solid transparent;
          border-right: 4px solid transparent;
          box-sizing: border-box;
          transform: translateX(-100%);
        }

        &:hover {
          box-shadow: 0 5px 15px rgba($web_white, 0.5);

          &:before {
            border-color: $web_white;
            height: 100%;
            transform: translateX(0);
            transition: .3s transform linear, .3s height linear .3s;
          }

          &:after {
            border-color: $web_white;
            height: 100%;
            transform: translateX(0);
            transition: .3s transform linear, .3s height linear .5s;
          }
        }
      }

      h1 {
        font-size: 4em;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 75px;
        margin-bottom: 40px;
      }

      p {
        margin-bottom: 65px;
      }

      a {
        background-color: $web_white;
        padding: 15px 35px;
        color: $web_blue;
        font-size: 1.1em;
        font-weight: 500;
        text-decoration: none;
        border-radius: 2px;
      }
    }

    &.active {
      clip-path: circle(150% at 0 50%);
      transition: 2s ease;
      transition-property: clip-path;
    }
  }

  .slider_navigation {
    position: absolute;
    list-style: none;
    z-index: 80;
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
    align-items: flex-end;
    bottom: 20px;
    left: 0;
    right: 0;

    .nav_btn {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      cursor: pointer;
      background-color: $web_white;
      box-shadow: 0 0 2px rgba($web_white, .5);

      &.active {
        background: $web_blue;
        transform: scale(1.3) !important;
      }

      &:not(:last-child) {
        margin-left: 20px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .media_icons {
    z-index: 90;
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column;
    transition: .5s ease;

    a {
      color: $web_white;
      font-size: 1.6em;
      transition: .3s ease;

      &:hover {
        transform: scale(1.3);
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 1040px) {
  .main_slider {
    padding: 100px 20px;

    .media_icons {
      left: 15px;
    }
  }
}