#top_selling {
  padding: 50px 150px;
  min-height: max-content;

  h2 {
    margin-bottom: 60px;
  }

  .footer {
    text-align: center;
    margin-top: 20px;

    .read_more {
      padding: 10px 22px;
      border: 1px solid $web_purple;
      text-decoration: none;
      color: $web_purple;
      border-radius: 8px;
      transition: .5s ease;

      &:hover {
        box-shadow: inset 0 100px 0 0 $web_purple;
        color: $web_white;
      }
    }
  }

  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 25px;

    .box {
      position: relative;
      overflow: hidden;
      height: 260px;
      width: 300px;
      border-radius: 3px;
      background: $web_black;
      box-shadow: 0 3px 10px rgba(0, 0, 0, .1);

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        z-index: 99;
        border-bottom: 1px solid $web_purple;
        width: 0;
        left: 50%;
        transition: .5s ease;
      }

      &:hover {
        &:before {
          width: 100%;
          left: 0;
        }
      }

      &:after {
        position: absolute;
        transition: .3s;
        width: 0;
        height: 2px;
        background: $web_purple;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      .box_header {
        height: 60%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 1/1;
        }
      }

      .box_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        position: relative;
        height: 40%;
        z-index: 5;

        .offer {
          position: absolute;
          bottom: 30%;
          margin: 0;
          right: 40%;
          font-size: 1em;
          border-right: 0;
          overflow: hidden;
          transition: .3s ease;
          transition-delay: .01s;
          display: block;
          height: 25px;
          width: fit-content;
          color: $web_green;
        }

        .title {
          margin: 0 15px;
        }

        a {
          color: $web_white;
          font-weight: 800;
          font-size: 1.3em;
          text-decoration: none;
          margin: 5px 0;
          display: block;
        }

        p {
          color: $web_white;
        }

        &:before {
          background: linear-gradient(to bottom, transparent, #16141c);
          pointer-events: none;
          content: '';
          height: 150px;
          opacity: .8;
          width: 100%;
          position: absolute;
          top: 0;
          right: -5%;
          transform: translateY(-100%);
        }

        &:after {
          background: linear-gradient(to bottom, transparent, #16141c);
          pointer-events: none;
          content: '';
          height: 50px;
          width: 110%;
          position: absolute;
          top: 0;
          right: -5%;
          transform: translateY(-100%);
        }

        .price {
          position: absolute;
          margin: 0 15px;
          bottom: 30%;
          right: 0;
          background-color: $web_purple;
          height: 25px;
          border-radius: 2px;
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          transition: .3s ease;

          .total_price {
            font-size: .8em;
          }

          .final_price {
            visibility: hidden;
            position: absolute;
            margin: 0;
            top: 0;
            left: 0;
            right: 0;
            height: 25px;
            font-size: .8em;
            bottom: 0;
            transition: .3s ease;
            transform: scale(0);
          }
        }

      }

      &:hover {
        .price {
          .final_price {
            visibility: visible;
            background-color: $web_purple;
            transform: scale(1);
          }
        }
      }

    }
  }

}