#top_selling {
  padding: 50px;
  min-height: max-content;

  h2 {
    margin-bottom: 60px;
  }

  .footer {
    text-align: center;
    margin-top: 20px;

    .read_more {
      padding: 10px 22px;
      border: 1px solid $web_purple;
      text-decoration: none;
      color: $web_purple;
      border-radius: 8px;
      transition: .5s ease;

      &:hover {
        box-shadow: inset 0 100px 0 0 $web_purple;
        color: $web_white;
      }
    }
  }

  .box {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 5px;

    .box-info {
      position: absolute;
      z-index: 10;
      left: 0;

      width: 35px;
      height: 35px;
      background-color: rgba($web_purple, .8);
      border-radius: 0 0 50% 0;
      color: $web_purple;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      transition: .3s ease;

      h3 {
        align-self: flex-start;
        width: 60%;
        position: relative;
        color: $web_white;

        &:after {
          content: "";
          position: absolute;
          bottom: -2rem;
          right: 0;
          height: 2px;
          background-color: $web_white;
          transition: .5s;
          transition-delay: 3s;
        }
      }

      ul {
        transition-delay: 2s;
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        height: 60%;
        width: 100%;
        list-style: none;

        li {
          color: $web_white;
          margin-bottom: 5px;
        }
      }

      &:hover {
        text-align: justify;
        width: 100%;
        height: 100%;
        border-radius: 0;

        h3 {
          margin: 0 25px;
          transform: translateY(-20px);
          transition-delay: 3s;

          &:after {
            content: "";
            right: 0;
            left: 50%;
          }
        }

        span {
          display: none;
        }

        ul {
          display: flex;
        }
      }
    }

    .box-image {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      height: 80%;
      object-fit: cover;
      aspect-ratio: 1/1;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .box-footer {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: auto;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $web_white;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;

      div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:first-child {
          background-color: $web_purple;
          a {
            width: 100%;
            padding: 5px;
            color: $web_white;
          }
        }

        &:last-child {
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;

          a {
            text-decoration: none;
            font-size: 1.3rem;
          }

          .title {
            font-weight: 700;
            word-break: break-all;
          }

          .total_price {
            text-decoration: line-through;
          }

          .final_price {
            font-weight: 600;
            font-size: 1.4rem;
            margin: 0 15px;
            color: $web_black;
          }
        }
      }
    }

  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination {
    bottom: -2rem;

    span {
      background-color: $web_white;
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}