$color_1: #9b0efe;
$background-color_1: #eeeeee;

.scond_page_placeHolder {
	width: 80%;
	height: 900px;
	display: flex;
	align-items: center;
	justify-content: end;
}
.best_seller_placeHOlder {
	width: 100%;
	height: 100%;
	display: flex;
	column-gap: 3rem;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}
.best_seller_placeHOlder_first_section {
	height: 90%;
	width: 50%;
	text-align: center;
	position: relative;
	img {
		height: 100%;
		width: 100%;
		border-radius: 3rem;
	}
}
.best_seller_placeHOlder_sconde_section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 3rem;
	width: 50%;
	height: 90%;
}
.best_seller_placeHOlder_sconde_section_contnet {
	height: 45%;
	width: 100%;
	position: relative;
	img {
		width: 100%;
		height: 100%;
		border-radius: 3rem;
	}
}
.best_seller_placeHOlder_box {
	background-color: $background-color_1;
	position: absolute;
	bottom: -0rem;
	right: -0rem;
	width: 170px;
	height: 170px;
	border-radius: 2rem 0 2rem 0;
	&:before {
		content: "";
		position: absolute;
		height: 10px;
		width: 20px;
		bottom: 0;
		left: -20px;
		border-radius: 0 0 2rem 0;
		box-shadow: 10px 0 0 0 #eeeeee;
	}
	&:after {
		content: "";
		position: absolute;
		height: 10px;
		width: 20px;
		bottom: 0;
		right: -5px;
		top: -15px;
		transform: rotate(270deg);
		border-radius: 0 0 0 2rem;
		box-shadow: -10px 0 0 0 #eeeeee;
	}
	i {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		position: absolute;
		width: 150px;
		height: 150px;
		background: rgba(183, 136, 183, 0.47);
		backdrop-filter: blur(8.9px);
		-webkit-backdrop-filter: blur(8.9px);
		bottom: -0rem;
		right: -0rem;
		color: $color_1;
		border-radius: 2rem;
	}
}
