.logIN_button{
  left: 0;
  top: .5rem;
  position: absolute;
  height: 45px;
  width: 130px;
  margin: 0 40px;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #0d0d0d;
  overflow: hidden;
  transition: 0.6s;
}
.logIN_button{
  color: #206592;
  border-color: #206592;
}

.logIN_button:before, .logIN_button:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.logIN_button:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.logIN_button:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.logIN_button:hover:before,
.logIN_button:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.logIN_button:hover{
  color: #f2f2f2;
}
.logIN_button:hover{
  background: #206592;
}
#open-btn:hover {

  background-color: white;
  color: black;

}

#modal {

  background-color: var(--body-color);
  width: 700px;
  height: 500px;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: end;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  padding: 15px;

  animation-name: animateModal;
  animation-duration: .4s;

}

#close-btn {
  font-size: 2rem;
  top : 0 ;
  right: 1rem;
    position: absolute;
}

#close-btn:hover {
  cursor: pointer;
  color: red;
}

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.2);
  
}

/* Modal Animation */

@keyframes animateModal {

  from {
      top: -300px;
      opacity: 0;
  }

  to {
      top: 50%;
      opacity: 1;
  }
}

.first_mage {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 1800px;
    margin-top: 7rem;
}

.first_mage .searchBox__placeHolder {
    position: absolute;
    top: 1rem;
}

.products_variable {
    width: 30%;
    height: 100%;
}

.firstpage_main_product_placHolder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin-top: 20rem;
    /* background-color: black; */
    height: 80%;
    width: 70%;
}

.box_palceHolder {
    display: flex;
    /* justify-content: end; */
    /* align-items: end; */
    flex-direction: column;
    position: relative;
    height: 50%;

}

.box_palceHolder:hover .box img {
    height: 100%;
    margin-top: -3.5rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: start;
    bottom: 70%;
    position: absolute;
    width: 300px;
    height: 200px;
    transform: skewY(-15deg);
    background: transparent;
    border-radius: 1rem;
    /* border: solid 1rem purple; */
    /* margin-top: 5rem; */
    /* padding: .5rem; */
    overflow: hidden;
    z-index: 2;

}

.box img {
    transition: .3s ease;
    position: absolute;
    z-index: 3;
    margin-top: -3.5rem;
    width: 110%;
    height: 160%;
    object-fit: cover;
    border-radius: 1rem;
    transform: rotate(15deg) skew(15deg);
    box-shadow: 0px -5px 9px 2px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 0px -5px 9px 2px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px -5px 9px 2px rgba(0, 0, 0, 0.52);

}

.box-supper {
    box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.52);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    row-gap: .5rem;
    padding: 1.5rem;
    padding-top: 3.2rem;
    position: relative;
    margin-top: -7rem;
    top: 3rem;
    width: 300px;
    background: transparent;
    height: 200px;
    z-index: 1;
    border-radius: 0 0rem 1rem 1rem;
}

.box-supper .label_placeholder {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
}

.box-supper .label_placeholder .label_placeholder_content {
    background: rgba(157, 149, 255, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(157, 149, 255, 0.26);
    /* From https://css.glass */
    background: rgba(157, 149, 255, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(157, 149, 255, 0.26);

    padding: .3rem;
    border-radius: 1.5rem;
    transition: .3s ease;
    color: #9b0efe;
}

.box-supper .label_placeholder .label_placeholder_content:hover {
    background-color: #9b0efe;
    color: #eeeeee;
}

.box-supper .price {
    color: #9b0efe;
    font-size: 2rem;
}

.products_variable {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 15rem;
}

.products_variable .variable_placeHolder {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    column-gap: 5rem;
    padding: 1rem;
    width: 85%;
    height: 300px;
    border-radius: 20px;
    /* background: rgba(157, 149, 255, 0.47); */
    background: #ffff;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(157, 149, 255, 0.26);


}

.products_variable .variable_placeHolder .variable_content {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 1rem;

    width: 100%;
    height: 100%;
    transition: .3s ease;
    border-radius: 1rem;
}

.products_variable .variable_placeHolder .variable_content:hover {
    background: rgba(157, 149, 255, 0.47);
}

.price_placeHolder {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
    width: 85%;
    height: 150px;
    border-radius: 20px;
    background: #ffff;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(157, 149, 255, 0.26);
}
.price_placeHolder h2 {
    color: #9b0efe;
    font-size: 1.5rem;
}
.price_placeHolder input {
    width: 100%;
    color: #9b0efe;
    accent-color: #9b0efe;
    transform: rotate(180deg);
}

  .price_placeHolder p {
    width: 100%;
    text-align: left;
  }
  .score_placeHolder {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
    width: 85%;
    height: 200px;
    border-radius: 20px;
    background: #ffff;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(157, 149, 255, 0.26);
  }
.scond_page_placeHolder {
    width: 80%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.best_seller_placeHOlder {
    width: 100%;
    height: 100%;
    /* background-color: #9b0efe; */
    display: flex;
    column-gap: 3rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.best_seller_placeHOlder_first_section {
    height: 90%;
    width: 50%;
    text-align: center;
    position: relative;
}

.best_seller_placeHOlder_first_section img {
    height: 100%;
    width: 100%;
    /* margin: auto; */
    border-radius: 3rem;
}

.best_seller_placeHOlder_sconde_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
    width: 50%;
    height: 90%;
}

.best_seller_placeHOlder_sconde_section_contnet {
    height: 45%;
    width: 100%;
    position: relative;
    /* background-color: black; */
}

.best_seller_placeHOlder_sconde_section_contnet img {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

.best_seller_placeHOlder_box {
    background-color: #eeeeee;
    position: absolute;
    bottom: -0rem;
    right: -0rem;
    width: 170px;
    height: 170px;
    border-radius: 2rem 0 2rem 0;

}

.best_seller_placeHOlder_box:before,
.best_seller_placeHOlder_box:after {
    content: "";
    position: absolute;

    height: 10px;
    width: 20px;

    bottom: 0;
}

.best_seller_placeHOlder_box:after {
    right: -5px;
    top: -15px;
    transform: rotate(270deg);
    border-radius: 0 0 0 2rem;
    /* -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;

    -webkit-box-shadow: -10px 0 0 0 #eeeeee; */
    box-shadow: -10px 0 0 0 #eeeeee;
}

.best_seller_placeHOlder_box:before {
    left: -20px;

    border-radius: 0 0 2rem 0;
    /* -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;

    -webkit-box-shadow: 10px 0 0 0 #eeeeee; */
    box-shadow: 10px 0 0 0 #eeeeee;
}

.best_seller_placeHOlder_box i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(183, 136, 183, 0.47);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    bottom: -0rem;
    right: -0rem;
    color: #9b0efe;
    border-radius: 2rem;
}

#mahsoolat_top_selling {
    height: 900px;
    background-color: #eeeeee;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
    /* padding: 10px 150px; */
    min-height: max-content;
  }
  
  #mahsoolat_top_selling .top--selling__upper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
  }
  
  #mahsoolat_top_selling h2 {
    color: #9b0efe;
    /* margin-bottom: 60px; */
  }
  
  #mahsoolat_top_selling .top--selling__upper p {
    text-align: center;
  }
  
  #mahsoolat_top_selling .footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .read_more {
    padding: 10px 22px;
    border: 1px solid #9b0efe;
    text-decoration: none;
    color: #9b0efe;
    border-radius: 8px;
    transition: 0.5s ease;
  }
  
  .read_more:hover {
    box-shadow: inset 0 100px 0 0 #9b0efe;
    color: #eeeeee;
  }
  
  #mahsoolat_top_selling .products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;
}
  #mahsoolat_top_selling .products .box_palceHolder {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    position: relative;
  
  }
  
  #mahsoolat_top_selling .products .box_palceHolder:hover .box img {
    height: 100%;
    margin-top: -3.5rem;
  }
  
  #mahsoolat_top_selling .products .box {
    display: flex;
    justify-content: center;
    align-items: start;
    bottom: -10%;
    position: relative;
    width: 400px;
    height: 300px;
    transform: skewY(-15deg);
    background: transparent;
    border-radius: 1rem;
    /* border: solid 1rem purple; */
    margin-top: -5rem;
    /* padding: .5rem; */
    overflow: hidden;
    z-index: 2;
  
  }
  
  #mahsoolat_top_selling .products .box img {
    transition: .3s ease;
    position: absolute;
    z-index: 3;
    margin-top: -3.5rem;
    width: 110%;
    height: 140%;
    object-fit: cover;
    border-radius: 1rem;
    transform: rotate(15deg) skew(15deg);
    box-shadow: 0px -5px 9px 2px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 0px -5px 9px 2px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px -5px 9px 2px rgba(0, 0, 0, 0.52);
  
  }
  
  #mahsoolat_top_selling .products .box-supper {
    box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.52);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    row-gap: .5rem;
    padding: 1.5rem;
    padding-top: 3.2rem;
    position: relative;
    margin-top: -5.5rem;
    top: 3rem;
    width: 400px;
    background: transparent;
    height: 200px;
    z-index: 1;
    border-radius: 0 0rem 1rem 1rem;
  }
  
  #mahsoolat_top_selling .products .box-supper .label_placeholder {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
  }
  
  #mahsoolat_top_selling .products .box-supper .label_placeholder .label_placeholder_content {
    background: rgba(157, 149, 255, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(157, 149, 255, 0.26);
  /* From https://css.glass */
  background: rgba(157, 149, 255, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(157, 149, 255, 0.26);
  
    padding: .3rem;
    border-radius: 1.5rem;
    transition: .3s ease;
    color: #9b0efe;
  }
  
  #mahsoolat_top_selling .products .box-supper .label_placeholder .label_placeholder_content:hover {
    background-color: #9b0efe;
    color: #eeeeee;
  }
  
  #mahsoolat_top_selling .products .box-supper .price {
    color: #9b0efe;
    font-size: 2rem;
  }
  